<section id="nosotros" class="px-30
max-xl:px-5">
    <article class="flex justify-between items-start gap-10
    max-xl:flex-col">
        <div>
            <h1 class="font-playfair font-semibold text-white text-3xl mb-6">
                SOBRE NOSOTROS
            </h1>

            <p class="text-[#8F8F8F]">
                BeardCut nació como un pequeño rincón dedicado a quienes valoran el cuidado personal como un ritual. Nuestro equipo combina técnicas clásicas con estilos modernos para que cada cliente salga con un look que realmente encaje con su identidad. Creemos en la precisión, la experiencia y la comodidad, por eso cada visita está pensada para sentirse como un momento propio, lejos del ruido y las distracciones.
                <br><br>
                En BeardCut no solo nos enfocamos en cortes, sino en crear una experiencia auténtica y cercana. Nuestro espacio está diseñado para que cualquiera se sienta bienvenido, con un ambiente relajado y un servicio atento en cada paso.
            </p>
        </div>

        <img src="/images/about.jpg" style="filter: saturate(0);" alt="" 
        class="w-120 shadow-lg opacity-75
        max-xl:w-full">
    </article>
</section>