<footer class="px-30
max-xl:px-5">
    <div class="text-white py-6 border-t border-[#3d3d3d]">
        <div class="container mx-auto px-4 text-center text-sm font-light">
            <p class="mt-2">
                &copy; {new Date().getFullYear()} BeardCut | Barbershop
            </p>
        </div>
    </div>
</footer>