<section id="inicio" class="flex justify-center items-center h-screen relative
max-xl:static max-xl:flex-col-reverse">
    <!-- Redes Sociales -->
    <div class="social-container flex flex-col gap-4 text-3xl fixed ml-4 left-0 top-1/2 transform -translate-y-1/2
    max-xl:static max-xl:flex-row max-xl:justify-center max-xl:translate-y-0 max-xl:mt-8">
        <a href="#" class="border border-[#8F8F8F] cursor-pointer w-8 h-8 rounded-full flex items-center justify-center shadow-lg hover:scale-110 text-[#8F8F8F] hover:bg-white hover:border-white hover:text-black transition-transform duration-300">
            <i class='bx bxl-instagram text-[20px]'></i>
        </a>
        <a href="#" class="border border-[#8F8F8F] cursor-pointer w-8 h-8 rounded-full flex items-center justify-center shadow-lg hover:scale-110 text-[#8F8F8F] hover:bg-white hover:border-white hover:text-black transition-transform duration-300">
            <i class='bx bxl-facebook-circle text-[20px]'></i>
        </a>
        <a href="#" class="border border-[#8F8F8F] cursor-pointer w-8 h-8 rounded-full flex items-center justify-center shadow-lg hover:scale-110 text-[#8F8F8F] hover:bg-white hover:border-white hover:text-black transition-colors duration-300">
            <i class='bx bxl-whatsapp text-[20px]'></i>
        </a>
    </div>

    <!-- Logo y CTA -->
    <div class="flex flex-col items-center gap-8">
        <img src="/images/logo.png" alt="BeardCut Logo" class="h-50
        max-lg:h-45 max-md:h-40 max-sm:h-30 max-2xs:h-30 max-1xs:h-20" />

        <a href="/appointment" class="border border-white p-4 font-light text-[16px] text-white cursor-pointer
        hover:bg-white hover:text-black transition-colors duration-200">
            Reservar Turno Ahora
        </a>
    </div>
</section>