---
import Card from '../components/Team/Card.astro';
---

<section class="px-30
max-xl:px-5">
    <h2 class="font-playfair font-semibold text-white text-3xl mt-20">
        NUESTRO EQUIPO
    </h2>

    <div class="flex justify-between items-center mt-6
    max-md:flex-col max-md:gap-10">
        <Card 
        img="/images/barber-1.webp" 
        specialization="BARBERO ESTILISTA"
        name="John Doe" 
        experience="Cortes clásicos." 
        />

        <Card 
        img="/images/barber-2.webp" 
        specialization="BARBERO ESTILISTA"
        name="Michael Shawn" 
        experience="Diseño de barba." 
        />

        <Card 
        img="/images/barber-3.avif" 
        specialization="BARBERO ESTILISTA"
        name="Marco Silva" 
        experience="Fade y degradados." 
        />
    </div>
</section>