---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<Navbar />
        <section class="min-h-screen flex flex-col justify-center items-center px-30 text-center
        max-xl:px-5">
            <form action="" class="bg-[#151515] border border-[#3d3d3d] text-[#8f8f8f] p-4">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci impedit quo consectetur sint quod exercitationem dolorum doloribus laboriosam tempore aperiam? Illo temporibus suscipit adipisci similique alias numquam nam facilis corporis?
            </form>
        </section>
	<Footer />
</Layout>